<h1>Create Item:</h1>

  <form action="/item/new" method="post" class="form-view" style="display: flex; flex-direction: column;">
    <% if (selectedCategory) { %>
      <label for="category">Category:</label>
      <input type="hidden" name="catId" value="<%= selectedCategory.id %>">
      <input type="hidden" name="category" value="<%= selectedCategory.name %>">
      <input type="text" value="<%= selectedCategory.name %>" disabled>
      <% } else { %>
      <label for="category"><span style="color: red;">*</span>Category:</label>
      <div class="dropdown">
        <input type="hidden" name="catId" id="catId">
        <input name="category" id="category" type="text"  oninput="filterCategories()" placeholder=" ðŸ” Search" autocomplete="off">
        <ul class="search-list" style="top: 5px; max-width: 300px;"></ul>
      </div>
    <% } %>
    <label for="name"><span style="color: red;">*</span>Name:</label>
    <input type="text" name="name" id="name">
    <label for="info">Info:</label>
    <input type="text" name="info" id="info">
    <label for="price"><span style="color: red;">*</span>Price ($):</label>
    <input type="number" step="0.01" name="price" id="price" min="0">
    <label for="quantity">Quantity:</label>
    <input style="max-width: 60px;" type="number" name="quantity" id="quantity" value="1">
    <button style="margin-top: 6px;" id="submit" class="add-update-btn" type="submit">ADD ITEM</button>
    <button  class="cancel-btn" type="button" onclick="history.back()">CANCEL</button>

  </form>

<%- include('../errors', { errors }); %>
<script>
  const categories = <%- JSON.stringify(categories) %>;
  const list = document.querySelector('.search-list');
  document.querySelector('form').addEventListener('submit', (e) => {
    const catId = document.querySelector('#catId');
    if (!catId.value && list.childElementCount > 0) {
      catId.value = 'missing click';
    }
  });
  const appendCategories = (filtered) => {
    list.innerHTML = '';
    if (filtered.length === 0) {
      const li = document.createElement('li');
      li.textContent = 'No category exists, create a new one';
      list.appendChild(li);
      return;
    }
    filtered.forEach(category => {
      const li = document.createElement('li');
      li.textContent = category.name;
      li.addEventListener('click', () => {
        document.getElementById('category').value = category.name;
        document.getElementById('catId').value = category.id;
        list.innerHTML = '';
      })
      list.appendChild(li);
    });
  };
  const filterCategories = () => {
    const searchInput = document.getElementById('category');
    const inputVal = searchInput.value.toLowerCase();
    document.getElementById('catId').value = '';
    if (inputVal === '') return list.innerHTML = '';
    const filtered = categories.filter(category => category.name.toLowerCase().includes(inputVal));
    searchInput.addEventListener('blur', () => {
      setTimeout(() => {
        list.innerHTML = '';
      }, 300)
    });
    appendCategories(filtered);
  };
</script>