<div class="header">
  <h1>
    <%= item.name %>
  </h1>
  <div>
    <a class="add-update-btn" href="/item/edit/<%= item.id %>" >Edit</a>
    <a class="delete-btn" href="/item/delete/<%= item.id %>" >Delete</a>
  </div>
 
</div>
<div class="list">
  <p>Category: <a href="/category/<%= category.id %>"><%= category.name %></a></p>
  <p>Information: <%= item.info %></p>
  <p>Price: $<%= item.price %></p>
  <p class="quantity">Available: <span class="circle <%= item.quantity < 4 ? 'red-circle' : 'green-circle' %>"></span><%= item.quantity %></p>
</div>
