<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= item.name %></title>
</head>
  <body>
    <%- include('topbar'); %>
    <h1><%= item.name %></h1>
    <p><%= item.info %></p>
    <p><%= item.quantity %></p>
  </body>
</html>