<div class="header">
  <h1>Categories</h1>
  <a href="/category/new">➕ New Category</a>
</div>
<div class="items-grid header-row">
  <p>Name</p>
  <p>Item(s)</p>
  <p style="grid-column: 4/-1; margin-left: auto;">Actions</p>
</div>
<ul class="list" style="--limit: <%= (categories.length > 10 || totalPages > 1) ? limit : '' %>">
  <% categories.forEach((category, i) => { %>
    <li class="<%= i === categories.length - 1 ? 'items-grid' : 'items-grid seperator' %>">
      <a href="category/<%= category.id %>" ><%= category.name%></a>
      <p><%= category.items_count %></p>
      <div style="grid-column: 4/-1; margin-left: auto;">
        <a class="add-update-btn" href="category/edit/<%= category.id %>">Edit</a>
        <a class="delete-btn" href="category/delete/<%= category.id %>">Delete</a>
      </div>
    </li>
  <% }) %>
</ul>
<% if (categories.length > 10 || totalPages > 1) { %>
  <%- include('../list-controls'); %>
<% } %>
