<link rel="stylesheet" href="/noCat.css">
<div class="header">
  <h1>No Category</h1>
  <button class="add-update-btn start-multiple" style="margin-left: auto;" onclick="addBox()">Select Multiple</button>
  <div class="multi-select-toolbar">
    <form action="/category/move/multiple" class="multiple" method="post" style="display: none;">
      <div class="dropdown">
        <input type="hidden" name="items" id="items">
        <input type="hidden" name="catId" id="catId">
        <input class="search multi-search" name="category" id="myInput" type="text" oninput="filterCategories(0)"
          placeholder=" 🔍 Search" autocomplete="off">
        <ul class="search-list" style="top: 20px;"></ul>
        <button class="add-update-btn multiple-submit" type="submit">Add Category</button>
      </div>
    </form>
    <p class="confimation-text" style="display: none; margin-right: 25px;">Are you sure?</p>
    <div class="form-delete-container">
      <form action="/category/multiple/delete" class="delete-multiple" method="post" style="display: none;">
        <button class="delete-btn delete" type="button"  onclick="confirmationDelete()">Delete Items</button>
        <button class="delete-btn yes"  style="display: none;" type="submit">Yes</button>
      </form>
      <button class="cancel-btn" style="display: none;" onclick="cancel()">Cancel</button>
    </div>
  </div>
</div>
<p class="instructions">Assign items to their respected categories, <span style="font-weight: bold;">by selecting a category from the
  <br> dropdown menu</span>, which will allow you edit their content in their respective category.
</p>
<div class="items-grid header-row">
  <p>Name</p>
  <p>Price</p>
  <p>Available</p>
  <p style=" grid-column: 4/-1;">Select a Category</p>
</div>
<ul class="list" style="--limit: <%= limit %>">
  <% items.forEach((item, i) => { %>
      <li class="<%= i === limit ? 'items-grid' : 'items-grid seperator'%>">
        <p><%= item.name %></p>
        <p><%= item.price %></p>
        <p class="quantity"><span class="circle <%= item.quantity < 4 ? 'red-circle' : 'green-circle' %>"></span><%= item.quantity %></p>
        <form action="/category/move/<%= item.id %>" method="post" style="margin-left: auto; grid-column: 4/-1;">
          <div class="dropdown">
            <input type="hidden" name="catId" id="catId">
            <input class="search" name="category" id="myInput" type="text" oninput="filterCategories(<%= i += 1 %>)"
              placeholder=" 🔍 Search" autocomplete="off">
            <ul class="search-list"></ul>  
            <button class="add-update-btn" type="submit">➕ Add</button>
            <a class="delete-btn" style="width: 17%; font-size: 1.3em; padding: 2px;" href="/item/delete/<%= item.id %>">🗑️</a>
          </div>
        </form>
      </li>
  <% }) %>
</ul>
<% if (items.length > 10 || totalPages > 1) { %>
  <%- include('../list-controls'); %>
<% } %>

<%- include('../errors', { errors }); %>
<script>
  let multipleActive = false;
  const categories = <%- JSON.stringify(categories) %>;
  const items = <%- JSON.stringify(items) %>;
  // multiple submit form
  document.querySelector('.multiple').addEventListener('submit', function(e) {
    e.preventDefault();
    // return checkedboxes as string
    let res = '';
    const checkboxes = document.querySelectorAll('.checkbox');
    checkboxes.forEach((box, i) => {
      if(box.checked) {
        res += `${items[i].id}*`
      }
    })
    if(res !== '') {
      document.querySelector('#items').value = res;
      this.submit()
    }
  })
  // search dropdown list
  const appendCategories = (filtered, searchInput, catId, list) => {
    list.innerHTML = '';
    if (filtered.length === 0) {
      const li = document.createElement('li');
      li.textContent = 'No category exists, create a new one';
      list.appendChild(li);
      return;
    }
    filtered.forEach(category => {
      const li = document.createElement('li');
      li.textContent = category.name;
      li.addEventListener('click', () => {
        searchInput.value = category.name;
        catId.value = category.id;
      })
      list.appendChild(li);
    });
  };
  // search logic
  const filterCategories = (i) => {
    const allList = document.querySelectorAll('.search-list');
    const searchInput = document.querySelectorAll('#myInput')[i];
    const catId = document.querySelectorAll('#catId')[i];
    const inputValue = searchInput.value.toLowerCase();
    const list = document.querySelectorAll('.search-list')[i];
    // when input is unfocused clear list
    searchInput.addEventListener('blur', () => {
      setTimeout(() => {
        list.innerHTML = '';
      }, 300)
    });

    document.getElementById('catId').value = '';
    // search process
    const filtered = categories.filter(category => category.name.toLowerCase().includes(inputValue));
    appendCategories(filtered, searchInput, catId, list);
  };
  // add checkboxes (DOM)
  function addBox() {
    const list  = document.querySelector('.list');
    const items = document.querySelectorAll('.list > *');
    items.forEach((e) => {
      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.className = 'checkbox';
      list.style.paddingLeft = '30px';
      e.prepend(checkbox)
    });

    document.querySelector('.delete-multiple').style.display = 'block';
    document.querySelector('.multiple').style.display = 'block';
    document.querySelectorAll('.add-update-btn')[0].style.display = 'none';
    document.querySelector('.cancel-btn').style.display = 'block';
  }

  function cancel() {
    const list = document.querySelector('.list');
    const checkboxes = document.querySelectorAll('.checkbox');
    checkboxes.forEach((e) => {
      e.remove()
    });
    list.style.paddingLeft = '10px';

    document.querySelector('.delete-multiple').style.display = 'none';
    document.querySelector('.delete').style.display = 'block';
    document.querySelector('.yes').style.display = 'none';
    document.querySelector('.multiple').style.display = 'none';
    document.querySelectorAll('.add-update-btn')[0].style.display = 'block';
    document.querySelector('.cancel-btn').style.display = 'none';
    document.querySelector('p').style.display = 'none'
  }

  function confirmationDelete() {
    document.querySelector('.delete').style.display = 'none';
    document.querySelector('.yes').style.display = 'block';
    document.querySelector('.multiple').style.display = 'none';
    document.querySelector('.confimation-text').style.display = 'block';
  }
</script>