<div class="header">
  <h1>No Category</h1>
  <button class="add-update-btn" onclick="addBox()">Select Multiple</button>
  <form action="/category/move/multiple" class="multiple" method="post" style="display: none;">
    <div class="dropdown">
      <input type="hidden" name="items" id="items">
      <input type="hidden" name="catId" id="catId">
      <input class="search" name="category" id="myInput" type="text" oninput="filterCategories(0)"
        placeholder=" ðŸ” Search" autocomplete="off">
      <ul class="search-list"></ul>
      <button class="add-update-btn multiple-submit" type="submit">Add Category</button>
    </div>
  </form>
  <button class="cancel-btn" style="display: none;" onclick="cancel()">Cancel</button>
</div>
<p>Assign items to their respected categories, <span style="font-weight: bold;">by selecting a category from the
  <br> dropdown menu</span>, which will allow you edit their content in their respective category.
</p>
<div class="items-grid header-row">
  <p>Name</p>
  <p>Price</p>
  <p>Available</p>
  <p style=" grid-column: 4/-1;">Select a Category</p>
</div>
<ul class="list" style="--limit: <%= limit %>">
  <% items.forEach((item, i) => { %>
      <li class="<%= i === limit ? 'items-grid' : 'items-grid seperator'%>">
        <p><%= item.name %></p>
        <p><%= item.price %></p>
        <p><%= item.quantity %></p>
        <form action="/category/move/<%= item.id %>" method="post" style="margin-left: auto; grid-column: 4/-1;">
          <div class="dropdown">
            <input type="hidden" name="catId" id="catId">
            <input class="search" name="category" id="myInput" type="text" oninput="filterCategories(<%= i %>)"
              placeholder=" ðŸ” Search" autocomplete="off">
            <ul class="search-list"></ul>  
            <button class="add-update-btn" type="submit">Add Category</button>
          </div>
        </form>
      </li>
  <% }) %>
</ul>
<% if (items.length > 10 || totalPages > 1) { %>
  <%- include('../list-controls'); %>
<% } %>

<%- include('../errors', { errors }); %>
<script>
  let multipleActive = false;
  const categories = <%- JSON.stringify(categories) %>;
  const items = <%- JSON.stringify(items) %>;
  document.querySelector('.multiple').addEventListener('submit', function(e) {
    e.preventDefault();
    let res = '';
    const checkboxes = document.querySelectorAll('.checkbox');
    checkboxes.forEach((box, i) => {
      if(box.checked) {
        res += `${items[i].id}*`
      }
    })
    if(res !== '') {
      document.querySelector('#items').value = res;
      this.submit()
    }
  })

  const appendCategories = (filtered, searchInput, catId, list) => {
    filtered.forEach(category => {
      const li = document.createElement('li');
      li.textContent = category.name;
      li.addEventListener('click', () => {
        searchInput.value = category.name;
        catId.value = category.id;
        list.innerHTML = '';
      })
      list.appendChild(li);
    });
  };
  const filterCategories = (i) => {
    const allList = document.querySelectorAll('.search-list');
    const searchInput = document.querySelectorAll('#myInput')[i];
    const catId = document.querySelectorAll('#catId')[i];
    const inputValue = searchInput.value.toLowerCase();
    const list = document.querySelectorAll('.search-list')[i];
    // When input is unfocused clear list
    searchInput.addEventListener('blur', () => {
      setTimeout(() => {
        list.innerHTML = '';
      }, 300)
    })

    document.getElementById('catId').value = '';
    if (inputValue === '') return list.innerHTML = '';
    // Search process
    const filtered = categories.filter(category => category.name.toLowerCase().includes(inputValue));
    if (filtered.length === 0) {
      const li = document.createElement('li');
      li.textContent = 'No category exists, create a new one';
      list.appendChild(li);
      return;
    }
    appendCategories(filtered, searchInput, catId, list);
  };

  function addBox() {
    const list  = document.querySelector('.list');
    const items = document.querySelectorAll('.list > *');
    items.forEach((e) => {
      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.className = 'checkbox';
      list.style.paddingLeft = '30px';
      e.prepend(checkbox)
    });
    document.querySelector('.multiple').style.display = 'block';
    document.querySelectorAll('.add-update-btn')[0].style.display = 'none';
    document.querySelector('.cancel-btn').style.display = 'block';
  }

  function cancel() {
    const list = document.querySelector('.list');
    const checkboxes = document.querySelectorAll('.checkbox');
    checkboxes.forEach((e) => {
      e.remove()
    });
    list.style.paddingLeft = '10px';
    document.querySelector('.multiple').style.display = 'none';
    document.querySelectorAll('.add-update-btn')[0].style.display = 'block';
    document.querySelector('.cancel-btn').style.display = 'none';
  }
</script>