<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category.name %></title>
</head>
<body>
  <%- include('../topbar'); %>
  <div style="display: flex; align-items: center;">
    <h1><%= category.name %></h1>
    <% if (category.id !== 0) { %>
      <a href="/category/edit/<%= id %>" style="font-size: 2em;">✍️</a>
    <% } %>
  </div>
  <% if (category.id === 0) { %>
    <p>Assign items to their respected categories in order to edit their content.</p>
  <% } %>
  <ul>
    <% items.forEach(item => { %>
      <a href="/item/<%= item.id %>">
        <li class="item">
          <h2><%= item.name %></h2>
          <p><%= item.description %></p>
          <p><%= item.info %></p>
          <p><%= item.quantity %></p>
        </li>
      </a>
    <% }) %>
  </ul>
</body>
</html>