<div class="header">
  <h1><%= category.name %></h1>
  <a href="/item/new/<%= category.id %>">➕ New Item</a>
</div>
<% if (category.id === 0) { %>
  <p>Assign items to their respected categories in order to edit their content.</p>
<% } else { %>
  <div class="items-grid header-row">
    <p>Name</p>
    <p>Price</p>
    <p>Available</p>
    <p style="grid-column: 4/-1; margin-left: auto;">Actions</p>
  </div>
<% } %>
<ul class="list" style="--limit: <%= (items.length > 10 || totalPages > 1) ? limit : '' %>">
  <% items.forEach((item, i) => { %>
    <li class="<%= i === limit ? 'items-grid' : 'items-grid seperator'%>">
        <a href="/item/<%= item.id %>"  ><%= item.name %></a>
        <p>$<%= item.price %></p>
        <p class="quantity"><span class="circle <%= item.quantity < 4 ? 'red-circle' : 'green-circle' %>"></span><%= item.quantity %></p>
      <div style="grid-column: 4/-1; margin-left: auto;">
        <a class="add-update-btn" href="/item/edit/<%= item.id %>">Edit</a>
        <a class="delete-btn" href="/item/delete/<%= item.id %>">Delete</a>
      </div>
    </li>
  <% }) %>
</ul>
<% if (items.length > 10 || totalPages > 1) { %>
  <%- include('../list-controls'); %>
<% } %>
