<body>
  <%- include('../topbar'); %>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center;">
      <h1><%= category.name %></h1>
      <% if (category.id !== 0) { %>
        <a href="/category/edit/<%= id %>" style="font-size: 2em;">✍️</a>
      <% } %>
    </div>
    <a href="/item/new/<%= category.id %>">Add To Category</a>
  </div>
 
  <% if (category.id === 0) { %>
    <p>Assign items to their respected categories in order to edit their content.</p>
  <% } %>
  <ul>
    <% items.forEach(item => { %>
      <a href="/item/<%= item.id %>">
        <li class="item">
          <p><%= item.name %></p>
          <p><%= item.price %></p>
          <p><%= item.quantity %></p>
        </li>
      </a>
    <% }) %>
  </ul>
</body>